*{
    margin: 0px;
    padding: 0px;
}
header{
    flex-direction: column;
    background-color: mediumpurple;
    display: flex;
    justify-content: center;
    align-items: center;

}
main{
    height: 100vh;
    width: 100%;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-gekko{
    background-color: mediumpurple;
    height: 100vh;
    width: 70%;
}
.img-gekko img{
    height: 100vh;
    width: 50%;
    margin-left: 20%;
}
.conteudo-gekko{
    height: 60vh;
    width: 40%;
}
.conteudo-gekko p{
    margin-top: 5%;
    margin-left: 20%;
    font-weight: bold;
    font-size: 30px;
}
.conteudo-gekko h1{
    margin-left: 40%;
    margin-top: 20%;
}
.conteudo{
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
}
.conteudo img{
    height: 100px;
    width: 100px;
    background-color: black;

}