*{
    margin: 0px;
    padding: 0px;
    /* background-color: mediumpurple; */
}
header{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}
main{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background-color: beige;
}
.img-gekko{
    background-color: mediumpurple;
    height: 0vh;
    z-index: 1;
}
.img-gekko img{
    height: 150vh;
}
.conteudo-gekko{
    background-color: gold;
    height: 400px;
    width: 100%;
    z-index: 0;
}
.conteudo-gekko p{
    font-weight: bold;
    font-size: 30px;
}

.hab-gekko{
    display: flex;
    padding-left: 50%;
    background-color: aquamarine;
    width: 50%;
    height: 400px;
    z-index: 0;
}
.hab-gekko img{
    width: 100px;
    height: 100px;
    margin-top: 2%;
    padding: 0% 6%;
}



.video{
    width: 50px;
    height: 50px;
    background-color: red;
    display: none;
}
